language: php

php:
 - 7.2
  
before_script:
 - composer self-update
 - composer install --prefer-source --no-interaction --dev

script: ./bin/phpunit --configuration tests/phpunit.xml --coverage-text

notifications:
   on_success: never
   on_failure: always

before-install:
 - composer self-update

install:
 - composer install
